body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.home-hero {
  background-image: url('./Assets/Images/Home/Banner/1.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  height: 30rem;
}

.main-herocl {
  width: 100%;
}

@media only screen and (max-width: 996px) {
  .main-herocl {
    flex-direction: column;
  }

  .home-hero {
    height: 50vh;
  }

  .main-herocl .categories {
    width: 100%;
    padding: 0;
    margin: 0;
  }


  .main-herocl .banner-main {
    width: 100%;
  }
}